@model IEnumerable<blogHaber.Models.HaberModel>
@{
    ViewBag.Title = "Index";
}

<h2></h2>

@Html.Partial("HaberListesi", Model)

@section SagKolon
{


    @Html.Partial("Search")
    @{ Html.RenderAction("KategoriListesi", "Category");}



}
